<% layout('layout') -%>

<h1 style = "text-align: center">Here you can add item of your choice</h1>

  <form method="post">
    <div class = "container">

      <div class="form-group">
        <label for = "category_id">Category Name</label>
        <input type = "text" name = "categoryName" id = "category_id" placeholder="Category Name" class = "form-control">
      </div>
    <div class="form-group">
      <label for="name">Product Name</label>
      <input type="text" class="form-control" name = "productName" id = "name" placeholder="Product Name">
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="text" class="form-control" name = "productPrice" id = "price" placeholder="Produt Price">
    </div>
    <div class="form-group">
      <label for = "image" >Image</label>
      <input type="text" name = "productImage" id = "image" class = "form-control" placeholder="Product Image">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  </form>
